version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: lmt-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:latest
    container_name: lmt-redis
    ports:
      - "6379:6379"

volumes:
  mongo-data:
